@font-face {
    font-family:'Roboto';
    src:url(../../../includes/fonts/Roboto-Regular.ttf) format('truetype');
    font-display: block;
}
@font-face {
    font-family:'Roboto';
    src:url(../../../includes/fonts/Roboto-Bold.ttf) format('truetype');
    font-display: block;
    font-weight: bold;
}
@font-face {
    font-family:'Roboto';
    src:url(../../../includes/fonts/Roboto-BoldItalic.ttf) format('truetype');
    font-display: block;
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family:'Roboto';
    src:url(../../../includes/fonts/Roboto-Italic.ttf) format('truetype');
    font-display: block;
    font-style: italic;
}
@font-face {
    font-family:'Riyaz';
    src:url(../../../includes/fonts/XB_Riyaz.ttf) format('truetype');
    font-display: block;
}
@font-face {
    font-family:'Riyaz';
    src:url(../../../includes/fonts/XB_RiyazBd.ttf) format('truetype');
    font-display: block;
    font-weight: bold;
}
@font-face {
    font-family:'Riyaz';
    src:url(../../../includes/fonts/XB_RiyazBdIt.ttf) format('truetype');
    font-display: block;
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family:'Riyaz';
    src:url(../../../includes/fonts/XB_RiyazIt.ttf) format('truetype');
    font-display: block;
    font-style: italic;
}
@font-face {
    font-family:'Cairo';
    src:url(../../../includes/fonts/Cairo-Regular.ttf) format('truetype');
    font-display: block;
}
@font-face {
    font-family:'Cairo';
    src:url(../../../includes/fonts/Cairo-Bold.ttf) format('truetype');
    font-display: block;
    font-weight: bold;
}
@font-face {
    font-family:'BNazanin';
    src:url(../../../includes/fonts/BNazanin.ttf) format('truetype');
    font-display: block;
}
@font-face {
    font-family:'BNazanin';
    src:url(../../../includes/fonts/BNazaninBd.ttf) format('truetype');
    font-display: block;
    font-weight: bold;
}